<div class="col-md-12">
  <div class="card ">
    <!--      <div class="card-header card-header-success card-header-icon">-->
    <!--        <div class="card-icon">-->
    <!--          <i class="material-icons"></i>-->
    <!--        </div>-->
    <!--        <h4 class="card-title">Input Jemaat</h4>-->
    <!--      </div>-->
    <div class="card-body ">
      <div class="row">
        <div class="col-md-10">
          <div class="card-product">
            <form id="TypeValidation" class="form-horizontal" [formGroup]="inputJemaatForm" (ngSubmit)="simpanInformasiJemaat()">
              <div class="card ">
                <div class="card-header card-header-rose card-header-text">
                  <div class="card-text">
                    <h4 class="card-title">Input Jemaat</h4>
                  </div>
                </div>
                <div class="card-body ">
                  <div class="row">
                    <label class="col-sm-2 col-form-label">Nama Jemaat </label>
                    <div class="col-sm-7">
                      <div class="form-group">
                        <input class="form-control" type="text" formControlName="namaJemaat"  required="true"/>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <label class="col-sm-2 col-form-label">Nomor KTP</label>
                    <div class="col-sm-7">
                      <div class="form-group">
                        <input class="form-control" type="text" formControlName="nomorKTP" required="true"/>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <label class="col-sm-2 col-form-label">Alamat Jemaat </label>
                    <div class="col-sm-7">
                      <div class="form-group">
                        <input class="form-control" type="text" formControlName="alamatJemaat" required="true"/>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <label class="col-sm-2 col-form-label">Kode Post</label>
                    <div class="col-sm-7">
                      <div class="form-group">
                        <input class="form-control" type="text" formControlName="kodePost" number="true" required="true"/>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <label class="col-sm-2 col-form-label">Nomor Telp</label>
                    <div class="col-sm-7">
                      <div class="form-group">
                        <input class="form-control" type="text" formControlName="nomorTelp" required="true"/>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <label class="col-sm-2 col-form-label">Tanggal Lahir</label>
                    <div class="col-md-4">
                      <div class="form-group">
                        <input type="text" class="form-control datepicker" formControlName="tanggalLahir" required="true">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <label class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-7">
                      <div class="form-group">
                        <input class="form-control" type="text" formControlName="email" email="true" required="true"/>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <label class="col-sm-2 col-form-label label-checkbox">Status Jemaat</label>
                    <div class="col-sm-10 checkbox-radios">
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="radio" formControlName="statusJemaat" value="1" checked> Menikah
                          <span class="circle">
                              <span class="check"></span>
                            </span>
                        </label>
                      </div>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="radio" formControlName="statusJemaat" value="2"> Duda / Janda
                          <span class="circle">
                              <span class="check"></span>
                            </span>
                        </label>
                      </div>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="radio" formControlName="statusJemaat" value="3"> Single
                          <span class="circle">
                              <span class="check"></span>
                            </span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <label class="col-sm-2 col-form-label label-checkbox">Status Keanggotaan</label>
                    <div class="col-sm-10 checkbox-radios">
                      <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" formControlName="statusKeanggotaan" value="1" checked> Jemaat Komit
                          <span class="circle">
                              <span class="check"></span>
                            </span>
                        </label>
                      </div>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="radio" formControlName="statusKeanggotaan" value="2"> Participants
                          <span class="circle">
                              <span class="check"></span>
                            </span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer ml-auto mr-auto">
                  <button type="submit" [disabled]="!inputJemaatForm.valid" class="btn btn-rose">Validate Inputs</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
